<% if @display == "all" %>
	<a id = "top_page"/>
	<h1>List of all shops in database:</h1>
	<p>
		<%= link_to 'Add a new shop', new_shop_path %></br>
		<%= link_to 'Back to home', home_index_path %>
	</p>
<% else %>
	<% if @display == "near" %>
		<h1>Here are the <%= @number %> nearest shops:</h1>
	<% else %>	
		<h1>You can find all the following shops in your neighbourhood (<%= @length %>km):</h1>
	<% end %>
	<p>
		<%= form_tag shops_path, method: :get, enforce_utf8: false do %>
			<%= label_tag "What size is your neighbourhood ?" %>
			<%= number_field_tag(:length, in: 2..100, step: 2) %>
			<%= submit_tag "Display !", name: nil %>
		<% end %>
	</p>
	<p>
		<%= form_tag shops_path, method: :get, enforce_utf8: false do %>
			<%= label_tag "How many nearest shops do you want to display ?" %>
			<%= number_field_tag(:number, in: 1..100, step: 1) %>
			<%= submit_tag "Display !", name: nil %>
		<% end %>
	</p>
<% end %>

<table border = "1">
	<tr>
		<th>Chain</th>
		<th>Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Address</th>
		<th>City</th>
		<th>Zip</th>
		<th>Phone</th>
		<th>Country code</th>
		<% if @display == "all" %>
			<th colspan ="2">Options</th>
		<% else %>
			<th>Distance</th>
		<% end %>
	</tr>
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>
			<% if @display == "all" %>
				<td><%= button_to 'Edit shop', edit_shop_path(shop), method: :get %></td>
				<td><%= button_to 'Delete shop', shop_path(shop), method: :delete %></td>
			<% else %>
				<td><%= shop.distance.round(1) %>km</td>
			<% end %>
		</tr>
	<% end %>
</table>

<% if @display != "all" %>
	<p>
		<%= link_to 'Back to home', home_index_path %>
	</p>
<% else %>
	<p>
		<a href="#top_page">Go to top</a>
	</p>
<% end %>
