<h1>List of all shops in database:</h1>

<table border = "1">
	<tr>
		<th>Chain</th>
		<th>Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Address</th>
		<th>City</th>
		<th>Zip</th>
		<th>Phone</th>
		<th>Country code</th>
	</tr>
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>
		</tr>
	<% end %>
</table>

<h2>Your location:</h2>
<p>
	Your city: <%= @loc.data["city"] %>, <%= @loc.data["country_name"] %></br>
	Latitude: <%= @loc.data["latitude"] %>, Longitude: <%= @loc.data["longitude"] %></br>
	Adresse IP : <%= @loc.data["ip"] %>
</p>


