<!-- Displays different headers depending on what must be displayed -->

<%= render 'index_header'  %>

<!-- Displays data on all selected shops -->
<table border = "1">
	<!-- Displays all labels -->
	<tr>
		<%= render 'standard_attributes_labels' %>

		<% if @display == "all" %>
			<th colspan ="2">Options</th>
		<% else %>
			<th>Distance</th>
		<% end %>
	</tr>

	<!-- Displays all values -->
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>

			<% if @display == "all" %>
				<td><%= button_to 'Edit shop', edit_shop_path(shop), method: :get %></td>
				<td><%= button_to 'Delete shop', shop_path(shop), method: :delete %></td>
			<% else %>
				<td><%= shop.distance.round(1) %>km</td>
			<% end %>
		</tr>
	<% end %>
</table>


<!-- Set a back_home link under the table -->
<!-- An anchor to top is given when all data is printed -->

<% if @display != "all" %>
	<p>
		<%= link_to 'Back to home', home_index_path %>
	</p>
<% else %>
	<p>
		<a href="#top_page">Go to top</a>
	</p>
<% end %>


<!-- Javascript script to display Google Map -->
<!-- Since I need Ruby variables, don't know if I can put this code on a proper Javascript file... -->
<% if @display != "all" %>
	<%= javascript_tag do %>
		handler = Gmaps.build('Google');
		handler.buildMap(
		{
			provider: {},
			internal: {id: 'map'}
		},
		function()
		{
			<% @shops.each do |shop| %>
				markers = handler.addMarkers([
				{
					"lat": <%= shop.latitude %>,
					"lng": <%= shop.longitude %>,
					"infowindow": "<h1><%= shop.chain %></h1><p><b><%= shop.name %> [<%= shop.distance.round(1) %>km]</b></br>(<%= shop.latitude %>, <%= shop.longitude %>)</br><%= shop.address %></br><%= shop.zip %> <%= shop.city %></br>Phone: <%= shop.phone %>"
				}]);
				handler.bounds.extendWith(markers);
			<% end %>
			markers = handler.addMarkers([
		  	{
				"lat": <%= @loc.latitude %>,
				"lng": <%= @loc.longitude %>,
				// Use another mark to distinct shops and current location
				"picture": 
				{
					"url": "http://googlemaps.googlermania.com/img/google-marker-big.png",
					"width": 61,
					"height": 105,
				},
				"infowindow": "<h1>You're here !</h1><p><b><%= @loc.city %></b></br>(<%= @loc.latitude %>, <%= @loc.longitude %>)</p>"
			}]);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		});
	<% end %>		
<% end %>
