<h1>List of all shops in database:</h1>

<h2>Your location:</h2>
<p>
	Your city: <%= request.safe_location.try(:city) %>, <%= request.safe_location.try(:country) %></br>
	Latitude: <%= request.location.try(:latitude) %>, Longitude: <%= request.location.try(:longitude) %>
	Adresse : <%= request.remote_ip %>
	<%= request %>
</p>

<table>
	<tr>
		<th>Chain</th>
		<th>Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Address</th>
		<th>City</th>
		<th>Zip</th>
		<th>Phone</th>
		<th>Country code</th>
	</tr>
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>
		</tr>
	<% end %>
</table>
