<h1>Information saved successfully!</h1>

<table>
	<tr>
		<!-- Display all standard labels -->
		<%= render 'standard_attributes_labels' %>
	</tr>
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>
		</tr>
	<% end %>
</table>

<%= render 'footer' %>
