<h1>Information saved successfully!</h1>

<table border = "1">
	<tr>
		<th>Chain</th>
		<th>Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Address</th>
		<th>City</th>
		<th>Zip</th>
		<th>Phone</th>
		<th>Country code</th>
	</tr>
	<% @shops.each do |shop| %>
		<tr>
			<td><%= shop.chain %></td>
			<td><%= shop.name %></td>
			<td><%= shop.latitude %></td>
			<td><%= shop.longitude %></td>
			<td><%= shop.address %></td>
			<td><%= shop.city %></td>
			<td><%= shop.zip %></td>
			<td><%= shop.phone %></td>
			<td><%= shop.country_code %></td>
		</tr>
	<% end %>
</table>

<p>
		<%= link_to 'Back to shops list', shops_path %>
</p>
